<template>
    <div>
        <div class="text-primary">gdf</div>
        <router-view></router-view>
    </div>
</template>
<script>
export default {
    mounted() {
        console.log(this.$route);
    }
}
</script>
